pandas
numpy
fastapi
uvicorn
dash
dash-bootstrap-components
plotly
dash-cytoscape
selenium
webdriver-manager
PyMuPDF
transformers
torch
sentence-transformers
keybert
google-generativeai
streamlit
pandas==2.2.2
numpy==1.26.4
fastapi==0.110.1
uvicorn==0.29.0
dash==2.16.1
dash-bootstrap-components==1.6.0
plotly==5.19.0
dash-cytoscape==0.3.0
selenium==4.19.0
webdriver-manager==4.0.1
PyMuPDF==1.23.26
transformers==4.39.3
torch==2.2.2
sentence-transformers==2.7.0
keybert==0.8.0
google-generativeai==0.4.1
streamlit==1.33.0